.background-home {
	background-image: url('/assets/pokeBG2-alt.svg');
	background-repeat: no-repeat;
	background-position: center top 75%;
	background-size: 100% auto;
}

.card {
	@apply rounded-lg p-5 m-5 bg-white overflow-hidden shadow-lg;
}
