@layer base {
	:root {
		--undefined: #e5e7eb;
		--bug: #8bd674;
		--dark: #6f6e78;
		--dragon: #7383b9;
		--electric: #f2cb55;
		--fairy: #eba8c3;
		--fighting: #eb4971;
		--fire: #ffa756;
		--flying: #83a2e3;
		--ghost: #8571be;
		--grass: #8bbe8a;
		--ground: #f78551;
		--ice: #91d8df;
		--normal: #b5b9c4;
		--poison: #9f6e97;
		--psychic: #ff6568;
		--rock: #d4c294;
		--steel: #4c91b2;
		--water: #58abf6;
		--unknown: #808080;
		--shadow: #421c52;

		--type-undefined: #e5e7eb;
		--type-bug: #8cb230;
		--type-dark: #58575f;
		--type-dragon: #0f6ac0;
		--type-electric: #eed535;
		--type-fairy: #ed6ec7;
		--type-fighting: #d04164;
		--type-fire: #fd7d24;
		--type-flying: #748fc9;
		--type-ghost: #556aae;
		--type-grass: #62b957;
		--type-ground: #dd7748;
		--type-ice: #61cec0;
		--type-normal: #9da0aa;
		--type-poison: #a552cc;
		--type-psychic: #ea5d60;
		--type-rock: #baab82;
		--type-steel: #417d9a;
		--type-water: #4a90da;
		--type-unknown: #808080;
		--type-shadow: #421c52;
	}
}

#nprogress {
	pointer-events: none;
	.bar {
		@apply top-0 left-0 h-2 w-full fixed z-50 bg-green-400 shadow-md;
	}
	.peg {
		@apply right-0 opacity-100 w-full h-full block absolute shadow-md;
	}
}
